body {
background-color: forestgreen;
opacity: 0,7;}
ul {
    list-style-type:none ;
    margin: 0;
    padding: 0;
    position: sticky;
    width: 100%;
    overflow: hidden;
  }  
  li {
    float: left;
  } 
  a {
    display: block;
    padding: 15px;
    background-color: #195c07;
    color: #ffffff;
  }
  p.double {border-style: double;}
 a:hover{
  background-color: black;
 }
 .plaatje {
  position: absolute;
  top: 130px;
  right: 75px;
  font-size: 18px;
}
.titel {
  position: absolute;
  top: 15%;
  width: 100%;
  text-align: center;
  font-size: 20px;
}
