body {
background-color: forestgreen;
opacity: 0,7;
ul {
    list-style-type:lower-greek ;
    margin: 0;
    padding: 0;
  }
  li {
    float: left;
  }
  
  a {
    display: block;
    padding: 15px;
    background-color: #195c07;
  }