body {
background-color: forestgreen;
opacity: 0,7;}
ul {
    list-style-type:none ;
    margin: 0;
    padding: 0;
    position: sticky;
  }
  li {
    float: left;
  }
  
  a {
    display: block;
    padding: 15px;
    background-color: #195c07;
  }
  p.double {border-style: double;}
 